*{
    color: white;
} 
a{
    color: white;
}
.MainImg{
    filter: invert(100%);
}
.login-form-wrapper .signup-form-wrapper{
    border: 2px solid white;
}
form input{
    border: 2px solid white;
}
textarea{
    color: black;
}
body{
    background-color: black;
  }
  